.skills .header {
  // margin-bottom: 50px;
}

.skills {
  text-align: center;
  position: relative;

  & .header {
    line-height: 200%;
  }
}

.skills-body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
